body {
    background-color: black;
    text-align: center;
}
h1 {
    color: white;
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}
.link {
    color: aquamarine;
    font-size: 16px;
}

h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p {
    font-family: Verdana;
    font-size: 21px;
    color: grey;
}
footer {
    text-align: right;
}
